	/*
	 * File : global.css
	* Author : Hina Tufail
	* Created : 19/10/2013
	* 1.1 : Hina Tufail - creation
	* 
	* General CSS
	*
	* Projet parapheur 2014
	*/
@CHARSET "UTF-8";

#header{
	height: 125px;
}

#header-logo{
	font-size:20pt; 
	text-align: center;
}
