@CHARSET "ISO-8859-1";
/*--POPUP
----------------------------------------------*/
.popup_block h1 {
	margin: 0 0 10px;
}
.popup_block p {
	margin: 0 0 20px;
}
.popup_block {
	display: none; /*--masqué par défaut--*/
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
	float: left;
	color: #A4A4A4;
	cursor: default;
	font-family: Arial;
	font-size: 13px;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
#popup_fade {
	 display: none; /* masqué par défaut */
	 background: #000;
	 position: fixed; left: 0; top: 0;
	 width: 100%; height: 100%;
	 opacity: .70;
	 z-index: 9999;
}
.popup_message{
	display : inline ;
    margin: 10px 0px 0px 0px;
}
.write_comment{
	height: 180px;
}
.popup_block select{
	display : inline ;
	margin: 12px 0 0;
	height: 35px;
	width: 120px;
	padding : 8px;
	font: 13px/1 Arial;
	float: left;
	color: #A4A4A4;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #CBCBCB;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
.popup_block textarea{
	display : inline ;
	resize: none;
	font: 13px/1 Arial;
	color: #A4A4A4;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #CBCBCB;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15) inset;
    padding: 10px;
    width: 560px;
    height: 102px;
    margin: 0px 0px 10px 0px; 
}
.all_comments{
    border-top: 1px solid #CBCBCB;
    height: 190px;
    margin: 20px 0 0;
    overflow: auto;
    padding: 10px 0 0;
}
.all_comments ul{
    height: auto;
    list-style: none outside none;
    min-height: 30px;
    padding: 0;
}
.all_comments li{
    border-bottom: 1px dotted #D9D9D9;
    margin: 10px 0 16px;
    padding: 0 15px 20px 20px;
}
.comment-inner{
	margin-top: 5px;
}
.quote{
	width : 11px;
	height : 17px;
}
.author{
	color : #7BABC4;
	font : bold 13px/1 Arial;
}
.comment{
	width : 94%;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
.informations{
	margin-bottom: 40px;
}
.informations div{
	width : 350px;
}
.informations ul {
	color: #9DA5B0;
	font: 13px/1.5 Arial;
	width : 100%;
	margin: 0px;
	padding: 0 0 0 15px;
}
.informations dt {
	height: 27px;
	width: 130px;
	padding: 8px 0 0;
	margin: 0 0 10px;
	float: left;
}
.informations dd {
	height: 35px;
	width: 590px;
	margin: 0 0 10px;
	float: left;
}
.informations dd select {
	margin: 0;
}
.green-button {
	background: none repeat scroll 0 0 #7BC49C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
	cursor: pointer;
    font: bold 14px/1 Arial;
    padding: 7px 40px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.red-button {
	background: none repeat scroll 0 0 #DE576D;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
	cursor: pointer;
    font: bold 14px/1 Arial;
    padding: 7px 40px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
img.btn_close {
	float: right;
	margin: -30px -30px 0 0;
}
.on-bottom{
	margin-top: -17px;
}
/*-- Manage position for IE6--*/
*html #popup_fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}