	/*
	 * File : style.css
	* Author : Thomas Nguyen-huu
	* Created : 23/10/2013
	* 1.1 : Thomas Nguyen-huu - creation
	* 1.2 : Thomas Nguyen-huu - modification
	* 1.3 : Fanny Seiler - modification
	* 1.4 : Hina Tufail - add "display-sign-success" css custom - 20/11/2013
	*
	* CSS for the whole application
	*
	* Projet parapheur 2014
	*/

/* DEFAULTS
----------------------------------------------------------*/
html, body {
	height: 100%;
	width: 100%;
}
body {
	background: url("../img/basic/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #989898;
	cursor: default;
	font-family: Arial;
	font-size: 13px;
	overflow: hidden;
}
a {
	color: #8D8D8D;
}
a:hover {
	color: #B4B4B4;
}
input {
	color: #989898;
}
form label {
	float: left;
	min-width: 150px;
}

/* HEADINGS   
----------------------------------------------------------*/
h1 {
    color: #9DA5B0;
    font: bold 15px/1 Arial;
    text-transform: uppercase;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#content {
	padding: 30px 0 60px; /* bottom must be equal to the footer size. */
}
#footer {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    clear: both;
    height: 60px;
	margin: -60px 0 0; /* top must be negative & equal to the footer size. */
	position: relative;
}
#header {
    background: url("../img/basic/bg_header.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
}
#wrapper {
	height: auto;
	min-height: 100%;
}
.wrap {
	margin: 0 auto;
	width: 980px;
}

/* HEADER 
----------------------------------------------------------*/
#nav {
	float: left;
}
#nav li {
	float: left;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    height: 27px;
    padding: 13px 30px 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#nav li a:hover {
	background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05) inset;
}
#nav li a:active, #nav li a.nav-sel {
    background: none no-repeat scroll 0 0 rgba(49, 50, 65, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) inset;
}
.search-box {
	float: right;
}
.search-box label {
    color: #FFFFFF;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.search-box input {
    background: none no-repeat scroll 0 0 rgba(255, 255, 255, 0.25);
    border: medium none;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
	color: #FFFFFF;
    height: 25px;
    margin: 6px 0 0;
    padding: 0 10px;
    width: 130px;
}
.search-box input:focus {
    background: none no-repeat scroll 0 0 #FFFFFF;
	color: #A4A4A4;
}

/* CONTENT  
----------------------------------------------------------*/
#index {
    height: 440px;
    margin: 50px 0;
    overflow: auto;
}
.index-row {
    height: 200px;
    margin: 0 0 40px;
}
.index-row:last-child {
	margin: 0;
}
.index-row li {
    float: left;
    height: 200px;
    margin: 0 18px 0 0;
    width: 178px;
}
.index-row li:last-child {
	margin: 0;
}
.index-row li a.preview {
    background: url("../img/icons/ico_preview.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	display: block;
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: 108px;
}
.index-row li a.preview:hover {
	opacity: 0.7;
}
.index-row li a.preview img {
    bottom: 0;
    position: absolute;
    right: 0;	
}
.index-row li a {
    color: #9DA5B0;
	cursor: pointer;
	display: block;
    font: bold 14px/1 Arial;
	margin: 10px auto 8px;
}
.index-row li a:hover {
	text-decoration: underline;
}
.index-row li p {
	text-align: center;
}

#tablet-list {
    margin: 50px 0;
}
.ui-accordion-header {
    background: url("../img/icons/ico_tablet.png") no-repeat scroll 10px 5px #87BCD7;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    font: bold 14px/1 Arial;
    margin: 15px 0 0;
    padding: 7px 45px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.ui-accordion-header:first-child {
	margin: 0;
}
.ui-accordion-header:active, .ui-accordion-header-active {
    background: url("../img/icons/ico_tablet.png") no-repeat scroll 10px 6px #7BABC4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 8px 45px;
}
.ui-accordion-content {
    padding: 10px 45px;
}
.ui-accordion-content li {
    background: url("../img/icons/ico_pdf_min.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 5px;
    padding: 4px 30px;
}
.ui-accordion-content li:last-child {
    background: url("../img/icons/ico_sync.png") no-repeat scroll 2px 2px rgba(0, 0, 0, 0);
    font-style: italic;
    margin: 15px 0 0;
}
#box-test {
    margin: 50px 0;
}
#box-test .box {
	margin: 0 0 20px;
}
#box-test .box:last-child {
	margin: 0;
}


/* FOOTER  
----------------------------------------------------------*/
.l-foot {
	float: left;
    padding: 25px 0 0;
}
.l-foot li {
    float: left;
    margin: 0 20px 0 0;
}
.l-note {
	float: right;
	padding: 25px 0 0;
}

/* MISC  
----------------------------------------------------------*/
.on-right {
	float: right;
}
.on-left {
	float: left;
}
.blue-button {
	background: none repeat scroll 0 0 #87BCD7;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
	cursor: pointer;
    font: bold 14px/1 Arial;
    padding: 7px 40px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.blue-button:active {
    background: none repeat scroll 0 0 #7BABC4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 8px 40px;
}
.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 18px 20px;
}
.box h1 {
	margin: 0 0 8px;
}

/* EXTRA
----------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/* SIGNATURE SUCCESS AND ERROR MESSAGE
-----------------------------------------------*/
#display-sign-success p{
	width : 400px;
	padding : 5px;
	border-radius : 5px;
	text-transform : uppercase;
	color:green;
	text-align:center;
	margin-top : 10px;
	
}

#display-sign-error p{
	width : 400px;
	padding : 5px;
	border-radius : 5px;
	text-transform : uppercase;
	color:rgb(211,0,0);
	text-align:center;
	
}

/*--POPUP
----------------------------------------------*/
h2 {
    color: #9DA5B0;
    font: bold 13px/1 Arial;
}
.popup_block h1 {
	margin: 0 0 10px;
}
.popup_block p {
	margin: 0 0 20px;
}
.popup_block {
	display: none; /*--masqué par défaut--*/
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
	float: left;
	color: #A4A4A4;
	cursor: default;
	font-family: Arial;
	font-size: 13px;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
#popup_fade {
	 display: none; /* masqué par défaut */
	 background: #000;
	 position: fixed; left: 0; top: 0;
	 width: 100%; height: 100%;
	 opacity: .70;
	 z-index: 9999;
}
.popup_message{
	display : inline ;
    margin: 10px 0px 0px 0px;
}
.write_comment{
	height: 180px;
}
.write_comment select{
	display : inline ;
	margin: 5px 0;
	height: 35px;
	width: 120px;
	padding : 8px;
	font: 13px/1 Arial;
	color: #A4A4A4;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #CBCBCB;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
.popup_block textarea{
	display : inline ;
	resize: none;
	font: 13px/1 Arial;
	color: #A4A4A4;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #CBCBCB;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15) inset;
    padding: 10px;
    width: 560px;
    height: 102px;
    margin: 5px 0px 10px 0px; 
}
.all_comments{
	margin: 20px 0px 0px 0px;
	padding:0px;
	max-height: 180px;
	height: auto;
	border-top: 1px solid #CBCBCB;
}
.all_comments ul{
	list-style: none outside none;
	padding: 0px;
	height: 180px;
}
.all_comments li{
	margin: 10px 0 30px 0;
}
.comment-inner{
	margin-top: 5px;
}
.quote{
	width : 11px;
	height : 17px;
}
.author{
	color : #7BABC4;
	font : bold 13px/1 Arial;
}
.comment{
	width : 94%;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
.informations{
	margin-bottom: 40px;
}
.informations div{
	width : 350px;
}
.informations ul {
	color: #9DA5B0;
	font: 13px/1.5 Arial;
	width : 100%;
	margin: 0px;
	padding: 0 0 0 15px;
}
.green-button {
	background: none repeat scroll 0 0 #7BC49C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
	cursor: pointer;
    font: bold 14px/1 Arial;
    padding: 7px 40px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.red-button {
	background: none repeat scroll 0 0 #DE576D;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -2px 0 rgba(126, 32, 90, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
	cursor: pointer;
    font: bold 14px/1 Arial;
    padding: 7px 40px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
img.btn_close {
	float: right;
	margin: -30px -30px 0 0;
}
.on-bottom{
	margin-top: -17px;
}
/*-- Manage position for IE6--*/
*html #popup_fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

/* BOOK
----------------------------------------------------------*/
#flip-book {
    height: 600px;
	margin: 60px 0 0;
    overflow: auto;
}
#viewer {
    margin: 0 auto;
	overflow: hidden;
}
.page {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    position: relative;
}


/* TOOL BAR
----------------------------------------------------------*/
#tool-bar {
    margin: 12px auto 0;
    position: relative;
    width: 980px;
}
#tool-bar .tool-left {
	left: 0;
	position: absolute;
	top: 0;
}
#tool-bar .tool-right {
	right: 0;
	position: absolute;
	top: 0;
}
#tool-bar .tool-right input {
	float: left;
	margin: 0 0 0 10px;
}
#tool-bar ul {
	height: 32px;
	margin: 0 auto;
	width: 540px;
}
#tool-bar ul li {
	float: left;
	margin: 0 10px;

}
#tool-bar ul .page-cur input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 35px;
}
.btn-comment, .btn-zoomin, .btn-zoomout, .btn-previous, .btn-next, .btn-gofirst,
 .btn-golast, .btn-home, .btn-download, .btn-valid, .btn-invalid, .btn-meta, .btn-export, .btn-print {
	border: none;
	cursor: pointer;
	display: block;
	height: 32px;
	width: 36px;
}
.btn-comment:hover, .btn-zoomin:hover, .btn-zoomout:hover, .btn-previous:hover, 
.btn-next:hover, .btn-gofirst:hover, .btn-golast:hover, .btn-home:hover, .btn-download:hover,
.btn-valid:hover, .btn-invalid:hover, .btn-meta:hover, .btn-export:hover, .btn-print:hover {
	opacity: 0.5;
}
.btn-comment { background: url("../img/icons/ico_comment.png") no-repeat scroll center center transparent; }
.btn-zoomin { background: url("../img/icons/ico_zoomin.png") no-repeat scroll center center transparent; }
.btn-zoomout { background: url("../img/icons/ico_zoomout.png") no-repeat scroll center center transparent; }
.btn-previous { background: url("../img/icons/ico_previous.png") no-repeat scroll center center transparent; }
.btn-next { background: url("../img/icons/ico_next.png") no-repeat scroll center center transparent; }
.btn-gofirst { background: url("../img/icons/ico_gofirst.png") no-repeat scroll center center transparent; }
.btn-golast { background: url("../img/icons/ico_golast.png") no-repeat scroll center center transparent; }
.btn-home { background: url("../img/icons/ico_home.png") no-repeat scroll center center transparent; }
.btn-valid { background: url("../img/icons/ico_valid.png") no-repeat scroll center center transparent; }
.btn-invalid { background: url("../img/icons/ico_invalid.png") no-repeat scroll center center transparent; }
.btn-download { background: url("../img/icons/ico_download.png") no-repeat scroll center center transparent; }
.btn-meta { background: url("../img/icons/ico_meta.png") no-repeat scroll center center transparent; }
.btn-export { background: url("../img/icons/ico_export.png") no-repeat scroll center center transparent; }
.btn-print { background: url("../img/icons/ico_print.png") no-repeat scroll center center transparent; }


/* SIDE BAR
----------------------------------------------------------*/
#side-bar {
	background: none no-repeat scroll 0 0 rgba(27, 27, 39, 0.2);
	border-radius: 5px;
	left: 50px;
	padding: 10px 10px 0 10px;
	position: fixed;
	top: 60px;
}
#side-bar ul li {
	margin: 0 0 15px;
}


/* LOADING INFOS
----------------------------------------------------------*/
.loadingIcon {
    background: url("../img/icons/loading-icon.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#loadingBox {
    color: #DDDDDD;
    font-size: 14px;
    margin: 100px 0;
    text-align: center;
}
#loadingBar {
    background-color: #333333;
    border: 1px solid #000000;
    border-radius: 4px;
    clear: both;
    display: inline-block;
    height: 25px;
    line-height: 0;
    margin: 5px 0 0;
    width: 200px;
}
#loadingBar .progress {
    background: -moz-linear-gradient(center top , #999999 0%, #666666 50%, #999999 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    display: inline-block;
    float: left;
    height: 100%;
    width: 0;
}
#loadingBar .progress.full {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
